.header {
  position: fixed;
  width: 99.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background: #37e4bebd;
  background-size: 4.5rem;
  padding: 3px;
  padding-right: 1rem;

  h1 {
    margin: 0;
    color: #ffffff;
    border-bottom: 6px solid #ffffff;
    margin-bottom: 0.3rem;
  }
}
