.country-container {
  border-radius: 10px;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  background: #c4c4c4;
  margin-bottom: 0.3rem;
  h1 {
    margin: 0;
  }
}

.highlight {
  border-style: dashed;
  border-color: #6969ff;
  border-width: 5px;
}
