.country-container {
  border-radius: 10px;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background: #fffafa;
  margin-bottom: 0.3rem;
  h2 {
    margin: 0;
  }
}

.highlight {
  border-style: dashed;
  border-color: #6969ff;
  border-width: 5px;
}
